# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Безопасность
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Virtual Environment
venv/
env/
ENV/
.venv/
*.venv/

# Проектные файлы
*.db
*.rdb
.DS_Store